/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

button,
[type=button],
[role=button] {
  text-decoration: none;
  background-color: transparent;
  border: 0;
  outline: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* CSS */
:root {
  --size-1: 0.25rem;
  --size-2: 0.5rem;
  --size-3: 0.75rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;
  --size-9: 2.25rem;
  --size-10: 2.5rem;
  --size-11: 2.75rem;
  --size-12: 3rem;
  --size-13: 3.25rem;
  --size-14: 3.5rem;
  --size-15: 3.75rem;
  --size-16: 4rem;
  --size-17: 4.25rem;
  --size-18: 4.5rem;
  --size-19: 4.75rem;
  --size-20: 5rem;
  --size-21: 5.25rem;
  --size-22: 5.5rem;
  --size-23: 5.75rem;
  --size-24: 6rem;
  --size-25: 6.25rem;
  --size-26: 6.5rem;
  --size-27: 6.75rem;
  --size-28: 7rem;
  --size-29: 7.25rem;
  --size-30: 7.5rem;
  --size-31: 7.75rem;
  --size-32: 8rem;
  --size-33: 8.25rem;
  --size-34: 8.5rem;
  --size-35: 8.75rem;
  --size-36: 9rem;
  --red-value: 0 100% 74%;
  --green-value: 154 59% 51%;
  --blue-value: 248 32% 49%;
  --dark-blue-value: 249 10% 26%;
  --grayish-blue-value: 246 25% 77%;
  --red: hsl(var(--red-value));
  --green: hsl(var(--green-value));
  --blue: hsl(var(--blue-value));
  --dark-blue: hsl(var(--dark-blue-value));
  --grayish-blue: hsl(var(--grayish-blue-value));
}

.container {
  width: calc(375px - 3rem);
  margin-inline: auto;
}
@media (width > 400px) {
  .container {
    width: min(100% - 3rem, 1120px);
  }
}

body {
  background-color: var(--red);
}

.intro__component {
  background-image: url("../../images/bg-intro-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (width > 768px) {
  .intro__component {
    background-image: url("../../images/bg-intro-desktop.png");
  }
}
.intro__wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}
@media (width > 768px) {
  .intro__wrapper {
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: var(--size-12);
  }
}
.intro__content {
  margin-block: var(--size-18);
  color: #fff;
  text-align: center;
}
@media (width > 768px) {
  .intro__content {
    text-align: start;
  }
}
.intro__heading {
  font-size: var(--size-8);
  font-weight: 600;
  line-height: 1.175;
  margin-block: var(--size-4);
}
@media (width > 768px) {
  .intro__heading {
    font-size: var(--size-12);
    font-weight: 700;
    line-height: 1.2;
  }
}
.intro__form {
  margin-bottom: var(--size-16);
  padding: var(--size-6);
  border-radius: var(--size-3);
  background-color: #fff;
  box-shadow: 0 var(--size-2) hsl(var(--dark-blue-value)/0.25);
}
.intro__form {
  display: grid;
  gap: var(--size-5);
}
@media (width > 768px) {
  .intro__form {
    padding: var(--size-10);
  }
}

.form__heading {
  text-align: center;
  padding: var(--size-4) var(--size-12);
  color: #fff;
  font-size: var(--size-4);
  font-weight: 400;
  background-color: var(--blue);
  border-radius: var(--size-3);
  margin-bottom: var(--size-6);
  box-shadow: 0 var(--size-2) hsl(var(--dark-blue-value)/0.25);
}
@media (width > 768px) {
  .form__heading {
    padding-block: var(--size-6);
  }
}
.form__inputBox {
  --_block-padding: var(--size-3);
  --_inline-padding: var(--size-4);
  position: relative;
  display: grid;
}
@media (width > 768px) {
  .form__inputBox {
    --_block-padding: var(--size-4);
    --_inline-padding: var(--size-8);
  }
}
.form__input {
  padding: var(--_block-padding) var(--_inline-padding);
  border: 1px solid var(--grayish-blue);
  border-radius: var(--size-1);
  outline: none;
  font-size: var(--size-4);
  font-weight: 600;
  caret-color: black;
}
.form__input:focus {
  outline: 1px solid var(--blue);
}
.form__input + label {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(calc(1px + var(--_inline-padding)), calc(1px + var(--_block-padding)));
  opacity: 0;
  color: var(--dark-blue);
  font-weight: 600;
  cursor: pointer;
}
.form__input::-webkit-input-placeholder {
  opacity: 0;
}
.form__input::-moz-placeholder {
  opacity: 0;
}
.form__input:-ms-input-placeholder {
  opacity: 0;
}
.form__input::-ms-input-placeholder {
  opacity: 0;
}
.form__input::placeholder {
  opacity: 0;
}
.form__input:placeholder-shown ~ label {
  opacity: 1;
}
.form__input.invalid {
  background-image: url("../../images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - var(--_inline-padding)) center;
  padding-right: calc(var(--_inline-padding) + var(--size-6) + 0.5ch);
  outline: 1px solid;
  outline-color: var(--red);
  color: var(--red);
}
.form__input:required + label::after {
  content: " *";
}
.form__inputInvalid {
  font-size: var(--size-3);
  padding-inline: var(--size-2);
  width: 100%;
  text-align: end;
  font-style: italic;
  color: var(--red);
  max-height: 0;
  overflow: hidden;
  padding-top: var(--size-1);
  transition: max-height 350ms ease;
}
.form__input.invalid ~ .form__inputInvalid {
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.form__submit {
  padding: var(--size-4);
  border-radius: var(--size-1);
  font-size: calc(var(--size-4) + var(--size-1) / 2);
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: inset 0 calc(-1 * var(--size-1)) hsl(var(--dark-blue-value)/0.2);
  color: #fff;
  background-color: var(--green);
  transition: translate 250ms ease;
}
@media (width > 768px) {
  .form__submit {
    font-size: var(--size-4);
  }
}
.form__submit:hover, .form__submit:focus {
  translate: 0 -2px;
}
.form__submit:active {
  translate: 0 0;
  box-shadow: inset 0 var(--size-1) hsl(var(--dark-blue-value)/0.2);
}
.form__footer {
  font-size: calc((var(--size-2) + var(--size-3)) / 2);
  font-size: var(--size-3);
  color: var(--grayish-blue);
  text-align: center;
  padding-inline: var(--size-2);
}
.form__terms {
  color: var(--red);
  text-decoration: none;
  font-weight: 700;
}
.form__terms:hover {
  text-decoration: underline;
  text-underline-offset: 0.25em;
}

/*# sourceMappingURL=style.css.map */
